@font-face 
{
     font-family: 'HoneywellCondWeb-Bold';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Bold.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Bold.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Bold.ttf') format('truetype'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Bold.eot') format('embedded-opentype');
}
@font-face 
{
     font-family: 'HoneywellCondWeb-BoldItalic';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-BoldItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-BoldItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-BoldItalic.ttf') format('truetype'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-BoldItalic.eot') format('embedded-opentype');
}
@font-face 
{
     font-family: 'HoneywellCondWeb-Book';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Book.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Book.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Book.ttf') format('truetype'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Book.eot') format('embedded-opentype');
       
}
@font-face 
{
     font-family: 'HoneywellCondWeb-BookItalic';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-BookItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-BookItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-BookItalic.ttf') format('truetype');
}
@font-face 
{
     font-family: 'HoneywellCondWeb-ExtraBold';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-ExtraBold.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-ExtraBold.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-ExtraBold.ttf') format('truetype');
}
@font-face 
{
     font-family: 'HoneywellCondWeb-ExtraBoldItalic';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-ExtraBoldItalic.ttf') format('truetype');
}
@font-face 
{
     font-family: 'HoneywellCondWeb-Light';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Light.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Light.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Light.ttf') format('truetype');
}
@font-face 
{
     font-family: 'HoneywellCondWeb-LightItalic';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-LightItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-LightItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-LightItalic.ttf') format('truetype');
}
@font-face 
{
     font-family: 'HoneywellCondWeb-Medium';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Medium.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Medium.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-Medium.ttf') format('truetype');
}
@font-face 
{
     font-family: 'HoneywellCondWeb-MediumItalic';
 	 src: url('../fonts/HoneywellCondWeb/HoneywellCondWeb-MediumItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-MediumItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/HoneywellCondWeb-MediumItalic.ttf') format('truetype');
}

@font-face 
{
     font-family: 'goodFont-Black';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-Black.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-Black.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-Black.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-BlackItalic';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-BlackItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-BlackItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-BlackItalic.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-Bold';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-Bold.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-Bold.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-Bold.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-BoldItalic';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-BoldItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-BoldItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-BoldItalic.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-Book';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-Book.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-Book.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-Book.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-BookItalic';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-BookItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-BookItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-BookItalic.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-ExtraBold';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-ExtraBold.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-ExtraBold.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-ExtraBold.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-ExtraBoldItalic';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-ExtraBoldItalic.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-Light';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-Light.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-Light.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-Light.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-LightItalic';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-LightItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-LightItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-LightItalic.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-Medium';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-Medium.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-Medium.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-Medium.ttf') format('truetype');
}
@font-face 
{
     font-family: 'goodFont-MediumItalic';
 	 src: url('../fonts/HoneywellCondWeb/goodFont-MediumItalic.woff2') format('woff2'),
       url('../fonts/HoneywellCondWeb/goodFont-MediumItalic.woff') format('woff'),
       url('../fonts/HoneywellCondWeb/goodFont-MediumItalic.ttf') format('truetype');
}




