@import url('customFont.css');
* {
    font-family: "goodFont-Medium";
}

.querytoolContainerBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1d1d1b;
    z-index: 100;
    padding: 3.6% 0 3.6% 0;
}

.querytoolStructure {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.headerQuerytool {
    height: 48px;
    width: 100%;
    display: inline-block;
    float: left;
    background-color: #292f38;
    color: #3db3e7;
}

.bodyQuerytool {
    position: relative;
    display: inline-block;
    float: left;
    height: calc( 100% - 48px);
    width: 100%;
    padding: 5px 46px 0 46px;
    overflow: hidden;
}

.queryHeaderHolder {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0 46px 0 46px;
}

.searchIconContainerQueryHeader {
    display: inline-block;
    float: left;
    line-height: 48px;
}

.searchIconQueryHeader {
    height: 100%;
}

.textQueryHeader {
    float: left;
    margin-left: 15px;
    font-size: 13px;
    line-height: 55px;
}

.fnIconContnrQueryHeader {
    list-style: none;
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
    line-height: 46px;
}

.fnIconLinesQueryHeader {
    float: left;
    margin-left: 27px;
    cursor: pointer;
}

.querytoolOpenDialogueContainer {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: #ffffff;
    padding: 20px 20px 4px 20px;
    height: 400px;
    width: 525px;
    text-align: center;
    font-size: 12px;
}

.inner_titledel {
    display: inline-block;
    width: 100%;
    font-family: 'goodFont-Light';
    font-size: 24px;
    color: #44b4e7;
    text-align: left;
    height: 55px;
    float: left;
}

.large_container_innerleft {
    width: calc( 50% - 1px);
    padding: 10px;
    border-right: 2px solid #44b4e7;
    float: left;
    height: calc( 100% - 115px);
}

.inner_leftlist {
    margin: 0;
    margin-left: -50px;
}

.large_container_innerright {
    width: calc( 50% - 1px);
    height: calc( 100% - 115px);
    padding: 10px;
    float: left;
}

.inner_rightlist {
    margin: 0;
    margin-left: -40px;
}

.alertBoxActionItems {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.alertBoxActionItems:hover>#openQueryClose {
    background-color: rgb(242, 89, 79);
}

.alertBoxActionItems:hover>#openQueryDelete {
    background-color: rgb(40, 46, 55);
}

.alertBoxActionItems:hover>#openQuerySelected {
    background-color: rgb(153, 194, 97);
}

.alertBoxActionItems:hover .alertActionText {
    visibility: visible;
}

.openDialogueFunctionalItems {
    display: inline-block;
    width: 33.33%;
    float: left;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.alignImagesOpenQueryFunc {
    display: inline-block;
    width: 100%;
}

.collectionImgTxt {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
}

.imgInAlertBox {
    text-align: center;
    height: 13px;
    margin-bottom: 9px;
}

.alertActionText {
    color: #ffffff;
    font-size: 13px;
    visibility: hidden;
}

.querytoolCloseDialogue {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3cb3e7;
    color: #ffffff;
    padding: 20px;
    width: 425px;
    height: 323px;
    text-align: center;
    font-size: 13px;
}

.textContainerAlertBox {
    position: relative;
    display: inline-block;
    height: calc( 100% - 72px);
    width: 100%;
}

.textCLoseSpan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: #ffffff;
    word-spacing: 3px;
}

.closeBoxActionItems {
    height: 72px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.closeBoxActionItems:hover>#closeQueryClose {
    background-color: #eb5b51;
}

.closeBoxActionItems:hover>#closeQueryCancel {
    background-color: #292f38;
}

.closeBoxActionItems:hover>#closeQueryConfirm {
    background-color: #9ac362;
}

.closeBoxActionItems:hover .alertActionText {
    visibility: visible;
}

.grpveDialogueBoxContainer {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: #ffffff;
    padding: 20px 20px 0 20px;
    width: 425px;
    height: 235px;
    text-align: center;
    font-size: 13px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.txtContainerSaveAlertBox {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: inline-block;
    transform: translate(0, -50%);
}

.grpveTextDialogue {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
}

.grpveInputDialogue {
    width: 217px;
    border: 2px solid #3eb3e7;
    padding: 5px;
    background-color: #000000;
}

.grpveDialogueFunctionalItems {
    display: inline-block;
    width: 50%;
    float: left;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.closeBoxActionItems:hover>#grpveAsClose {
    background-color: #eb5b51;
}

.closeBoxActionItems:hover>#grpveAsConfirm {
    background-color: #9ac362;
}

.viewSelectedAPIHolder {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.customSelectionOptionContainer{
    list-style: none;
    display: inline-block;
    width: calc( 100% - 200px );
    margin: 0;
    padding: 0;
}
.viewSelectedAPI {
    display: inline-block;
    position: relative;
    width: 25%;
    float: left;
}

.viewSearchOption {
    display: inline-block;
    position: relative;
    float: right;
}

.blankViewArea {
    display: inline-block;
    height: 200px;
    width: 300px;
    margin-top: 97px;
    float: left;
    background-color: #cdcccc;
    position: relative;
    left: 0;
}

.displaySelectedOptionContainer {
    position: relative;
    display: inline-block;
    height: 297px;
    width: 300px;
    float: left;
    overflow: hidden;
    left: 0;
}

.viewAreaWithContent {
    position: relative;
    display: inline-block;
    height: 297px;
    width: 300px !important;
    float: left;
    background-color: #292f38;
    padding: 0 !important;
    overflow-y: auto;
}

.viewAreaWithContent:before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 100%;
    position: static;
    top: 0;
    background: -webkit-linear-gradient(rgba(41, 47, 56, 1), rgba(41, 47, 56, 0.1));
    background: -o-linear-gradient(rgba(41, 47, 56, 1), rgba(41, 47, 56, 0.1));
    background: -moz-linear-gradient(rgba(41, 47, 56, 1), rgba(41, 47, 56, 0.1));
    background: linear-gradient(rgba(41, 47, 56, 1), rgba(41, 47, 56, 0.1));
    z-index: 1;
}

.centerAreaViewOptions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.centerAreaViewOptions:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.areaToViewSelectedOptions {
    display: inline-block;
    vertical-align: middle;
    width: 98%;
    color: #5bc5f2;
    padding: 10px 30px 10px 27px;
}

.areaToViewSelectedOptions:before {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
}

.subQueryDisplayArea {
    display: inline-block;
    width: 100%;
}

.subQueryDisplayName {
    font-size: 14px;
    color: #5bc5f2;
    padding: 2px;
    width: 100%;
    cursor: default;
}

.clearSeperationUnFlaggedOptions {
    display: inline-block;
    width: 100%;
    height: 14px;
}

.addConditionArea {
    font-size: 12px;
    color: #ffffff;
    padding: 2px;
    width: 100%;
    position: relative;
}

.addConditionTextAndAreaContainer {
    display: inline-block;
    width: 100%;
    position: relative;
}

.addConditionText {
    cursor: default;
}

.addConditionImg {
    padding-left: 27px;
    cursor: pointer;
}

.addConditionImageFile {
    height: 8px;
}

.addConditionContainer {
    display: inline-block;
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.addConditionListContainer {
    width: 100%;
    position: relative;
    background-color: #000000;
    list-style: none;
    margin: 0;
    padding: 0px 40px 10px 24px;
    cursor: default;
}

.addConditionLists {
    display: inline-block;
    width: 100%;
    height: 23px;
    margin: 17px 0;
}

.checkboxQryToolConditions {
    display: inline-block;
    height: 20px;
    width: 20px;
    float: left;
    margin: 0 19px 0 0;
    background-color: #282e37;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.conditionNameQryTool {
    font-size: 14px;
    padding: 0;
    float: left;
    color: #ffffff;
    line-height: 27px;
}

.conditionInputQryTool {
    height: 23px;
    text-align: center;
    resize: none;
    font-size: 12px;
    background-color: #282e37;
    border: 0;
    float: right;
    color: #000000;
    width: 75px;
    font-family: "goodFont-Medium";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.conditionInputQryTool:focus {
    outline: 0;
    border: 0;
    background-color: #ffffff !important;
}

.confirmAddConditionContainer {
    width: 100%;
    display: inline-block;
    background-color: #404040;
    height: 68px;
    position: relative;
    cursor: default;
}

.confirmedAddConditionContainer {
    width: 100%;
    display: inline-block;
    background-color: #3db3e7;
    height: 68px;
    position: relative;
    cursor: pointer;
}

.confirmAddConditionImgContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.confirmAddConditionImage {}

.clearCondContainer {
    position: absolute;
    right: 13px;
}

.clearConditionImage {
    height: 23px;
    cursor: pointer;
}

.addBinaryConditionArea {
    font-size: 13px;
    color: #ffffff;
    padding: 0 2px 0 0;
    display: inline-block;
    float: right;
}

.selectedbinCond {
    float: right;
    display: inline-block;
}

.binaryConditionList {
    list-style: none;
    position: absolute;
    padding: 0;
    background-color: #000000;
    right: 0;
    width: 100px;
    padding: 5px 0 5px 0;
    display: none;
    z-index: 2;
}

.binaryConditionText {
    display: inline-block;
    height: 100%;
    float: left;
    padding-top: 1px;
    cursor: pointer;
}

.addBinaryConditionImgDown {
    padding-left: 23px;
    float: left;
    cursor: pointer;
}

.addBinaryConditionImageFileDown {
    height: 8px;
}

.binaryConditionArrowUpListItem {
    width: 100%;
    display: inline-block;
    height: 30px;
    text-align: center;
}

.addBinaryConditionImgUp {
    position: relative;
    padding: 0;
    cursor: pointer;
}

.addBinaryConditionImageFileUp {
    top: 5px;
    position: relative;
    height: 8px;
}

.arrowOfAddedConditionContainer {
    height: 20px;
    cursor: pointer;
}

.arrowAreaAddedCondition {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.addedConditionDisplay {
    display: inline-block;
    width: 100%
}

.addConditionsLines {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: default;
}

.indicatingIconsCond {
    display: inline-block;
    width: 15px;
}

.removeAllAddedCondition {
    position: absolute;
    top: 0;
    left: -30px;
    cursor: pointer;
}

.binaryConditionListItem {
    text-align: center;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.searchIconQueryHeader:hover {
    opacity: 0.2;
}

.binaryConditionListItem:hover {
    background-color: #3cb3e7;
    color: #000000;
}

.blankSearchArea {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-top: 97px;
    line-height: 200px;
    background-color: #cdcccc;
    color: #a3a3a2;
    text-align: center;
    font-size: 14px;
    padding: 0;
    position: relative;
}

.readySearchArea {
    display: inline-block;
    height: 297px;
    width: 200px;
    line-height: 297px;
    background-color: #3db3e7;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.coreNameHeader {
    position: relative;
    height: 60px;
    width: 300px;
    border-bottom: 1px solid #000000;
}

.highlightSelectionBox {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: background-color 0.5s;
    cursor: pointer;
}

.greyColoredSelectedOption {
    background-color: #cdcccc;
}

.blueColoredSelectedOption {
    background-color: #3db3e7;
}

.skyColoredSelectedOption {
    background-color: #b9eefc;
}

.coreNameHeaderText {
    font-family: "goodFont-Bold";
    font-size: 14px;
    margin-left: 34px;
    line-height: 62px;
    cursor: pointer;
}

.showHideAsAccordion {
    float: right;
    padding-right: 8px;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
    cursor: pointer;
}

.coreNameBody {
    padding: 9px 0 0 45px;
    display: inline-block;
    width: 300px;
    float: left;
    display: none;
    position: relative;
    left: 0;
}

.primarySelectables {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
}

.primarySelectableOptions {
    float: left;
    width: 100%;
    display: inline-block;
}

.primaryNameHeader {
    position: relative;
    height: 40px;
    width: 100%;
    box-sizing: content-box;
}

.primaryNameHeaderText {
    font-family: "goodFont-Medium";
    font-size: 14px;
    margin-left: 34px;
    line-height: 40px;
    cursor: pointer;
}

.primaryNameBody {
    width: 100%;
    display: inline-block;
    padding: 15px 0 0 0;
    display: none;
}

.secondarySelectables {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
}

.secondarySelectableOptions {
    float: left;
    width: 100%;
    display: inline-block;
}

.secondaryHeader {
    position: relative;
    height: 29px;
    line-height: 29px;
    padding-left: 30px;
}

.secondaryNameHeaderText {
    font-family: "goodFont-Medium";
    font-size: 14px;
    margin-left: 34px;
    line-height: 32px;
    cursor: pointer;
}

.callsignList {
    position: relative;
    line-height: 29px;
    padding-left: 30px;
    margin: 1px 0 1px 0;
}

.callsignHeader {
    font-family: "goodFont-Medium";
    font-size: 13px;
    cursor: default;
}

.callsignInputArea {
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.callsignInputTag {
    height: 30px;
    width: 120px;
    border: 1px solid #939393;
    font-size: 12px;
    padding: 0 0 0 8px;
}

.callsignInputTagBorder {
    border: 2px solid #3cb3e7;
}

.callsignInputTag:focus {
    outline: 0;
}

.callsignConfirmCancelContainer {
    display: none;
    width: 100%;
    padding: 3px 0 0 100px;
}

.confirmCallsign {
    position: relative;
    float: right;
    z-index: 1;
    display: inline-block;
}

.confirmCallsignImage {}

.cancelCallsign {
    position: relative;
    float: left;
    z-index: 1;
    display: inline-block;
}

.cancelCallsignImage {}

.resetCallsign {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.resetCallsignImg {
    height: 30px;
}

.dateRangeDateHourContainer {
    position: relative;
    line-height: 29px;
    margin: 1px 0 10px 0;
    display: inline-block;
    float: left;
}

.dateRangeListHeader {
    font-family: "goodFont-Medium";
    font-size: 13px;
    display: inline-block;
    width: 15%;
    float: left;
    cursor: default;
}

.dateRangeInputContainer {
    display: inline-block;
    position: relative;
    width: 85%;
    float: left;
}

.dateRangeInputContainer input:focus {
    outline: 0;
    border: 2px solid #3db3e7;
}

.dateRangeDateInput {
    height: 30px;
    width: 135px;
    border: 1px solid #939393;
    font-size: 14px;
    text-align: center;
    margin: 0;
    float: left;
}

.dateRangeDateInput:focus {
    border: 2px solid #3db3e7;
}

.hourRangeDateInput {
    height: 30px;
    width: calc(100% - 140px);
    border: 1px solid #939393;
    font-size: 14px;
    text-align: center;
    margin: 0 0 0 5px;
    float: left;
}

.datepickerInputTagBorder {
    background-color: #3db3e7;
    border: 0;
}

.rowDateRangeDisplay {
    display: inline-block;
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 0 5px 0 5px;
    cursor: default;
}

.dateRangeHeaderOnQueryDisplay {
    color: #ffffff;
    display: inline-block;
    width: 50px;
}

.dateRangeDateOnQueryDisplay {
    display: inline-block;
    min-width: 100px;
}

.hourRangeHeaderOnQueryDisplay {
    color: #ffffff;
    display: inline-block;
}

.hourRangeHourOnQueryDisplay {
    display: inline-block;
    float: right;
}




.track1 {
    width: 13px;
    margin-left: 3.5px;
    background-color: #D0D0CF;
    margin-top: -1px;
}

.handle1 {
    width: 10px;
    margin-left: 2px;
    background: url(../images/icons/new/scrollerThumb.png) no-repeat 0 center;
    border-radius: 6px;
}

.scroll-down1 {
    background: url(../images/icons/new/scrollbarButton.png) no-repeat;
    margin-left: 3px;
    margin-top: -1px;
}

.scroll-up1 {
    background: url(../images/icons/new/scrollbarButton1.png) no-repeat;
    margin-top: 0px;
}
